/* IMPOSTAZIONI GENERALI */
html {font-size: 62.5%;}
body { 
    font-family: Poppins, 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 15px;
    background-image: url('./imgs/sfondo.png');
    background-position: center center;
}
* {box-sizing: border-box;}
hr {display: none;} /* rimuove l'elemento */

/* HEADER */
header {
    background: rgb(0,160,198);
    background: linear-gradient(180deg, rgba(0,160,198,1) 0%, rgba(3,109,134,1) 68%);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-shadow: 0 3px 3px #444;
    margin-bottom: 1.5em;
    padding: 2em 1.5em;
}
header div img {
    margin-bottom: 20px;
}
header nav ul {
    margin: 0;
}
header nav li {
    list-style: none;
}
header nav li a {
    color: white;
    text-decoration: none;
}
header nav li a:hover {
    color: red;
}
header nav li a::before {
    content: "\22c6\0020";
}

/* MAIN */
main {
    background-color: #fff;
    box-shadow: 0 3px 3px #444;
    padding: 2em 1em;
    margin-bottom:1.5em ;
}
section { 
    background-color: #e3e3e3;
    padding: 1em;
    margin-bottom: 2em;
}
section h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin-bottom: 0.7em;
}
p, address, ul, ol, dl, blockquote {
    margin-bottom: 1.2em;
}
h1 + p {
    color: #a0a0a0;
}
ul, ol {
    margin-left: 2em;
}
a {
    color: #00A0C6;
    font-weight: bold;
}
strong {
    color: #a02571;
    font-weight: bold;
}
code {
    background-color: #e3e3e3;
    border: 1px solid #969494;
    border-radius: 5px;
}
iframe {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 20px;
}

/* TABELLE */
table {
    margin-bottom: 2em;
}
caption {
    font-weight: bold;
    font-style: italic;
}
thead tr {
    background-color: #3f6bca;
    color: #ffffff;
}
th, td {
    padding: 12px 15px;
    vertical-align: bottom;
    text-align: center;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
    padding: 5px;
    border: 0;
    border-bottom: 1px dashed #333;
}
button {
    padding: 4px 7px;
    background-color: #3f6bca;
    border: 0;
    color: white;
    font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}
aside div {
    background-color: #e3e3e3;
    border: 1px solid #c3c3c3;
    margin-bottom: 1em;
    padding: 1em;
}
aside div p:last-child {
    margin-bottom: 0;
    font-size: 0.8em;
    text-align: right;
}


/* FOOTER */
footer {
    background: rgb(53,53,53);
    background: linear-gradient(0deg, rgba(53,53,53,1) 0%, rgba(5,85,103,1) 68%);
    box-shadow: 0 3px 3px #444;
    color: #f0f0f0;
    padding: 1em;
    text-align: center;
    font-size: 1.2rem;
}
footer a {
    color: fuchsia;
}

/*768px*/

@media screen and (min-width:768px){
    main{padding-right:6rem;
    padding-left:3rem;}

    main ul li {
        display:inline-block;
        font-size:1.8rem;
    }
h1{font-size:5.7rem;
margin-top:0;}

#badge{
    border:4px solid rgb(13, 91, 207);
    outline:4px solid rgb(153, 1, 128);
    padding:0.5rem;
}
p{font-size:2rem;}

h2{font-size:2.5rem;
margin-bottom:0;}

main ul,
main ol {font-size:2rem;}

table{
margin: 0 auto;
width: 50rem;
height: 30rem;}

section h2{background-color:rgb(151, 149, 149);
text-transform:lowercase;}

input{width:40rem;
height:5rem;
padding-left:2rem;}

button{height:5rem;
width:11rem;}

aside h2{font-size:3rem;}

aside div p{margin-top:0;}

aside div p:last-child {
    font-size:1.5rem;}

    aside div a{ font-size:1.7rem;}

    footer p{font-size:2rem;}

    footer address{font-size:1.9rem;}

#secondP{margin-top:0;}
}

/*1200px*/
@media screen and (min-width:1200px){

    header {text-align:left;
    height:12rem;}

    header div{display:inline-block;}

    header p {display: inline-block;
        vertical-align: top;
        font-size:2rem;
    }
    header nav{display:inline-block;
        font-size:2rem;
        vertical-align:top;
        padding-top:2rem;
    }
   nav ul{padding-left:35rem;}

    nav ul li{display:inline-block;
    text-align:right;
vertical-align:middle;} 

main ul li{font-size:2rem;}

p{line-height:3.5rem;}

table{width:70rem;
border-collapse:collapse;
margin-bottom:10rem;
}

tbody tr:last-of-type{border-bottom:2px solid #3f6bca}

iframe{    display: inline-block;
    width: 550px;
height:300px;
border-right:0;
margin-bottom:2rem;}

    section:last-of-type{display:inline-block;width:593px;
    height:300px;
vertical-align:top;
border-radius:20px;
margin-bottom:2rem;
margin-left:-3px;}

input {width:40rem;}

aside h2{margin-top:0;}

aside div{
    display: inline-block;
    width: 38.2rem;
    border: 0;
margin-left:-4px;}

    footer{height:20rem;}

    footer p {font-size:2rem;
    margin-top:0;
margin-bottom:4rem;}

    footer address{font-size:2rem;
padding-left:20rem;
padding-right:20rem;}
}